body {
     background-color: #9DE0FC;
}

.search_button {
     width: 15px;
     height: 15px;
     background-color: aliceblue;
     border-radius: 4px;
}

#music_score {
     position: absolute;
     height: 100%;
     width: 80%;
}

#score_sheet {
     top: 0px;
     left: 0px;
     position: absolute;
}

.clickable {
     position: absolute;
}

.clickable:hover {
     background-color:  red;
     opacity: 0.5;
}

.draggable {
     background-color: transparent;
     position: absolute;
     border: solid blue;
     top: 0px;
     left: 0px;
     height: 200px;
     width: 200px;
}

.draggable:hover {
     border: solid red;
}

#export_form {
     vertical-align: top;
     display: inline-block;
}